* {
	margin: 0;
	padding: 0;
}

/* hr{
	margin: 5px 0;
} */
.logo {
	padding: 10px;
	text-align: center;
}

.menu {
	text-align: center;
}

.menu nav {
	display: inline-block;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.menu nav.active {
	color: #42b983;
}


.main {
	/* position: relative; */
	z-index: 1;
}

.main .create {
	text-align: center;
}

.main .create input {
	position: relative;
	margin: 10px 0;
	padding: 12px;
	width: 300px;
	font-size: 18px;
	overflow: hidden;
	border-radius: 8px;
}

.main .create input#code {
	border: 2px solid gray;
	outline: 0;
	font-size: 16px;
	background-color: transparent;
}

.main .create input[type="button"] {
	border: 1px solid #42b983;
	color: white;
	border: none;
	background: #42b983;
	cursor: pointer;
}

.main .create .qrcode img,
.main .create .qrcode canvas {
	margin: 20px auto;
	padding: 30px;
	width: min(calc(100vw - 130px), calc(100vh - 130px));
	height: min(calc(100vw - 130px), calc(100vh - 130px));
	max-width: 360px;
	max-height: 360px;
	border-radius: 8px;
	border: 2px solid gray;
}

.main .create .qrcode img[fullscreen],
.main .create .qrcode canvas[fullscreen] {
	display: block;
	max-height: unset;
	max-width: unset;
	position: absolute;
	inset: 0px;
	margin: auto;
}

.main .reader {
	display: none;
	text-align: center;
	font-size: 16px;
}

.main .reader .sweep {
	position: relative;
	margin: 10px;
	padding: 12px;
	width: 300px;
	font-size: 18px;
	cursor: pointer;
	color: white;
	background: #42b983;
	border: 1px solid #42b983;
	overflow: hidden;
	border-radius: 8px;
}

.main .reader .sweep input {
	position: absolute;
	font-size: 100px;
	opacity: 0;
}

.main .reader .imgurl {
	margin: 20px;
	text-align: center;
}

.main .reader .imgurl img {
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	width: 280px;
	height: 260px;
}

.main .reader .result_url {
	margin: 10px;
}

.main .reader .result {
	box-sizing: border-box;
	margin: 20px auto;
	padding: 10px;
	width: 500px;
	max-width: 90vw;
	height: 200px;
	border-radius: 8px;
	border: 2px solid gray;
	font-size: 16px;
	outline: 0;
	background-color: transparent;
}

.main .reader .canvas-bg {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
}

.main .reader .canvas {
	display: none;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 20px;
	width: min(calc(100vw - 20px), calc(100vh - 20px));
	height: min(calc(100vw - 20px), calc(100vh - 20px));
	border-radius: 8px;
	border: 2px solid gray;
}

/* 滑动按钮 */
.egg_setting_switch {
	cursor: pointer;
	margin: 0;
	outline: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	width: 40px;
	height: 22px;
	background: #ccc;
	border-radius: 50px;
	transition: border-color .3s, background-color .3s;
	vertical-align: bottom;
}

input[type='checkbox'].egg_setting_switch::after {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0, 0, 2px, #999;
	transition: .4s;
	top: 3px;
	position: absolute;
	left: 3px
}

input[type='checkbox'].egg_setting_switch:checked {
	background: #42b983
}

input[type='checkbox'].egg_setting_switch:checked::after {
	content: '';
	position: absolute;
	left: 55%;
	top: 3px
}

/* 黑暗模式 */
.dark body {
	background-color: black;
	color: white;
}

.dark .main .create input#code {
	color: white;
}

.dark .main .create .qrcode img,
canvas {
	background-color: white;
}

.dark .main .reader .result {
	color: white;
}
